#hailo公式のgitから各自クローンしてください
**/hailo_model_zoo

#python3.10.xの仮想環境を各自用意してください
**/hailo_env
**/.myenv

**/*.onnx
**/*.whl
**/*checkpoints

#yolo26のみ通す
**/yolo26*.pt
!yolo26n.pt

#画像は自分で用意して下さい
**/images
**/labels
**/calibrations

#その他
*.deb
janken_UseMLTools_MAN
static